.vscode/*
backend/.vscode/*
!.vscode/settings.json
!backend/.vscode/settings.json

# backend
env/
venv/
media/
static_root/
*.pyc
db.sqlite3
dev_secrets.py

# frontend
node_modules/
build/
.eslintcache

*.env
to-do.txt